Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat(api): persist active repo ID to database
  backend/src/oya/api/routers/repos_v2.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

docs: add implementation plan for collapsing excluded directories
  docs/plans/2026-01-24-collapse-excluded-directories.md
Due: none

Note we need Windows support
  TODO.md
Due: none

docs: add repository selection fixes design
  docs/plans/2026-01-24-repo-selection-fixes-design.md
Due: none

feat: add _has_excluded_ancestor helper function
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

test: add edge case tests for directory collapsing
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

feat: add directory exclusion check methods to FileFilter
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

chore: add TODO for Windows path handling in url_parser
  backend/src/oya/repo/url_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): always show RepoDropdown, remove DirectoryPicker
  frontend/src/api/client.ts
  frontend/src/components/DirectoryPicker.test.tsx
  frontend/src/components/DirectoryPicker.tsx
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/components/index.ts
  frontend/src/types/index.ts
Due: eslint

feat(db): add app_settings table to repo registry
  backend/src/oya/db/repo_registry.py
  backend/tests/db/test_repo_registry.py
Due: ruff-check, ruff-format, pylint-design

fix(test): update initialize.test.ts to use correct types
  frontend/src/stores/initialize.test.ts
Due: eslint

Mount Oya locally
  docker-compose.yml
Due: none

Add design: collapse excluded directory children in indexing preview
  docs/plans/2026-01-24-collapse-excluded-directories-design.md
Due: none

feat(frontend): add multi-repo UI components
  frontend/src/api/client.ts
  frontend/src/components/AddRepoModal.tsx
  frontend/src/components/RepoDropdown.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/initialize.ts
  frontend/src/stores/reposStore.ts
  frontend/src/types/index.ts
Due: eslint

feat(startup): add git check and data_dir initialization
  backend/src/oya/main.py
  backend/tests/test_startup.py
Due: ruff-check, ruff-format, pylint-design

test: update tests for new directory collapsing behavior
  backend/tests/test_indexable_categories.py
Due: ruff-check, ruff-format, pylint-design

test: update test_jobs_api and test_search_api to use setup_active_repo
  backend/tests/test_jobs_api.py
  backend/tests/test_search_api.py
Due: ruff-check, ruff-format, pylint-design

refactor(config): remove WORKSPACE_PATH environment variable handling
  backend/src/oya/config.py
Due: ruff-check, ruff-format, pylint-design

CGRAG temp hack: Added max_total_lines=1000 parameter to _read_source_for_nodes() to prevent context window overflow.
  backend/src/oya/qa/cgrag.py
  docker-compose.yml
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/TopBar.tsx
Due: ruff-check, ruff-format, pylint-design, eslint

feat(api): add activate and get-active repo endpoints
  backend/src/oya/api/routers/repos_v2.py
  backend/src/oya/state.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

feat(api): add create repo endpoint with git clone
  backend/src/oya/api/routers/repos_v2.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

Remove WORKSPACE_BASE_PATH fallback. It should not have been there
  .env.example
  backend/src/oya/api/deps.py
  backend/src/oya/api/routers/qa.py
  backend/src/oya/api/routers/repos.py
  backend/src/oya/api/routers/wiki.py
  backend/src/oya/main.py
  backend/tests/test_path_validation.py
  backend/tests/test_repos_api.py
  frontend/src/App.tsx
Due: ruff-check, ruff-format, pylint-design, eslint

feat(api): add get and delete repo endpoints
  backend/src/oya/api/routers/repos_v2.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

refactor: remove WORKSPACE_PATH, add security fixes
  .claude/agents/code-reviewer.md
  .kiro/steering/tech.md
  Makefile
  README.md
  backend/README.md
  backend/src/oya/api/routers/notes.py
  backend/src/oya/api/routers/repos.py
  backend/src/oya/api/routers/repos_v2.py
  backend/src/oya/api/routers/search.py
  backend/src/oya/api/schemas.py
  backend/src/oya/config.py
  backend/src/oya/generation/chunking.py
  backend/src/oya/generation/file.py
  backend/src/oya/generation/orchestrator.py
  backend/src/oya/generation/synthesis.py
  backend/src/oya/llm/client.py
  backend/src/oya/qa/cgrag.py
  backend/src/oya/qa/graph_retrieval.py
  backend/src/oya/qa/service.py
  backend/src/oya/qa/session.py
  backend/src/oya/repo/file_filter.py
  backend/src/oya/repo/repo_paths.py
  backend/tests/api/test_repos_v2.py
  backend/tests/repo/test_repo_paths.py
  backend/tests/test_api_deps.py
  backend/tests/test_db_reconnect.py
  backend/tests/test_indexable_categories.py
  backend/tests/test_last_generation.py
  backend/tests/test_notes_api.py
  backend/tests/test_oyaignore_removals.py
  backend/tests/test_qa_api.py
  backend/tests/test_repos_api.py
  backend/tests/test_sse_streaming.py
  backend/tests/test_staging_generation.py
  backend/tests/test_startup.py
  docker-compose.yml
Due: ruff-check, ruff-format, pylint-design

Ensure switch repos and first starting work as expected
  frontend/src/App.tsx
  frontend/src/stores/initialize.ts
  frontend/src/stores/reposStore.ts
Due: eslint

feat(qa): add multi-repo support and source file reading to CGRAG
  backend/src/oya/api/routers/qa.py
  backend/src/oya/qa/cgrag.py
  backend/src/oya/qa/service.py
  backend/tests/test_cgrag.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): auto-select first repo on startup if none active
  frontend/src/stores/initialize.test.ts
  frontend/src/stores/initialize.ts
Due: eslint

feat: collapse excluded directory children in get_files_categorized
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

style: format frontend files with prettier
  frontend/src/components/AddRepoModal.tsx
  frontend/src/components/FirstRunWizard.tsx
  frontend/src/components/RepoDropdown.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/stores/reposStore.ts
Due: eslint

feat(config): make WORKSPACE_PATH optional for multi-repo mode
  backend/src/oya/api/deps.py
  backend/src/oya/config.py
  backend/tests/test_config.py
Due: ruff-check, ruff-format, pylint-design

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
