Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(snippets): add type annotation for others list
  backend/src/oya/generation/snippets.py
Due: ruff-check, ruff-format, pylint-design

docs: add synopsis clarity enhancement design
  docs/plans/2026-01-28-synopsis-clarity-enhancement-design.md
Due: none

feat(snippets): prefer external callers for call-site synopses
  backend/src/oya/generation/snippets.py
  backend/tests/generation/test_snippets.py
Due: ruff-check, ruff-format, pylint-design

feat(orchestrator): pass target file to call-site selection
  backend/src/oya/generation/orchestrator.py
Due: ruff-check, ruff-format, pylint-design

feat(prompts): guide AI to include imports when helpful
  backend/src/oya/generation/prompts.py
Due: ruff-check, ruff-format, pylint-design

test(snippets): verify backward compatibility without target_file
  backend/tests/generation/test_snippets.py
Due: ruff-check, ruff-format, pylint-design

feat(snippets): detect .tsx test files in is_test_file
  backend/src/oya/generation/snippets.py
  backend/tests/generation/test_snippets.py
Due: ruff-check, ruff-format, pylint-design

refactor(prompts): remove unused SYNOPSIS_INSTRUCTIONS_WITH_CALL_SITE
  backend/src/oya/generation/prompts.py
Due: ruff-check, ruff-format, pylint-design

refactor(prompts): remove unused SYNOPSIS_NO_CALLERS_NOTE and SYNOPSIS_TEST_ONLY_NOTE
  backend/src/oya/generation/prompts.py
Due: ruff-check, ruff-format, pylint-design

Plan for synopsis clarity enhancement
  docs/plans/2026-01-28-synopsis-clarity-enhancement.md
Due: none

feat(frontend): show error modal when wiki generation fails
  frontend/src/components/GenerationProgress.test.tsx
  frontend/src/components/GenerationProgress.tsx
Due: eslint

More TODO notes
  TODO.md
Due: none

docs: add error handling improvements design
  docs/plans/2026-01-29-error-handling-improvements-design.md
Due: none

Reorganize TODO into clear sections
  TODO.md
Due: none

docs: add error handling improvements implementation plan
  docs/plans/2026-01-29-error-handling-improvements.md
Due: none

docs: add error handling policy to CLAUDE.md
  CLAUDE.md
Due: none

feat: add toast and error modal types
  frontend/src/config/timing.ts
  frontend/src/types/index.ts
  frontend/src/types/notifications.ts
Due: eslint

feat: add toast and error modal state to uiStore
  frontend/src/stores/uiStore.test.ts
  frontend/src/stores/uiStore.ts
Due: eslint

feat: create ToastContainer component
  frontend/src/components/ToastContainer.test.tsx
  frontend/src/components/ToastContainer.tsx
Due: eslint

feat: create ErrorModal component
  frontend/src/components/ErrorModal.test.tsx
  frontend/src/components/ErrorModal.tsx
Due: eslint

feat: mount ToastContainer and ErrorModal globally in App
  frontend/src/App.tsx
  frontend/src/components/ToastContainer.tsx
Due: eslint

refactor: use global ErrorModal in GenerationProgress
  frontend/src/components/GenerationProgress.test.tsx
  frontend/src/components/GenerationProgress.tsx
Due: eslint

fix: show toast instead of silently ignoring init errors
  frontend/src/stores/initialize.ts
Due: eslint

fix: show error modal when generation fails to start
  frontend/src/stores/generationStore.test.ts
  frontend/src/stores/generationStore.ts
Due: eslint

fix: show toast when repo status fetch fails
  frontend/src/stores/wikiStore.ts
Due: eslint

fix: show error modal when app initialization fails
  frontend/src/main.tsx
Due: eslint

fix: log errors instead of silently ignoring in issues store
  backend/src/oya/vectorstore/issues.py
Due: ruff-check, ruff-format, pylint-design

fix: log cleanup errors in vector store
  backend/src/oya/vectorstore/store.py
Due: ruff-check, ruff-format, pylint-design

fix: improve error handling in orchestrator
  backend/src/oya/generation/orchestrator.py
Due: ruff-check, ruff-format, pylint-design

fix: log errors when fetching notes fails
  backend/src/oya/generation/prompts.py
Due: ruff-check, ruff-format, pylint-design

fix: use type-only import for WikiPageMeta in frontmatter test
  frontend/src/utils/frontmatter.test.ts
Due: eslint

test: add test for error modal on generation failure
  frontend/src/stores/generationStore.test.ts
Due: eslint

test: add test for error toast on repo status fetch failure
  frontend/src/stores/wikiStore.test.ts
Due: eslint

fix: add onError to useEffect dependency array
  frontend/src/components/GenerationProgress.tsx
Due: eslint

a11y: add ARIA attributes to ErrorModal for screen reader support
  frontend/src/components/ErrorModal.tsx
Due: eslint

Improve a11y for screen readers
  frontend/src/components/ToastContainer.tsx
Due: eslint

Error handling now fixed. Need to check a11y
  TODO.md
Due: none

style: fix Prettier formatting in ErrorModal
  frontend/src/components/ErrorModal.tsx
Due: eslint

docs: add design for persistent generation timing
  docs/plans/2026-01-29-persistent-generation-timing-design.md
Due: none

docs: add implementation plan for persistent generation timing
  docs/plans/2026-01-29-persistent-generation-timing.md
Due: none

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
