Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

More TODO notes
  TODO.md
Due: none

Add some of the Claude Superpowers plans
  docs/plans/2026-01-27-full-regeneration-option-design.md
  docs/plans/2026-01-27-full-regeneration-option-implementation.md
Due: none

Ensure we properly log database errors during SSE streams
  backend/src/oya/api/routers/jobs.py
  backend/tests/test_sse_streaming.py
Due: ruff-check, ruff-format, pylint-design

Ensure that regenerating repos only accepts valid parameters.
  backend/src/oya/api/routers/repos.py
  backend/tests/test_repos_api.py
Due: ruff-check, ruff-format, pylint-design

Note concern regarding limitation of our symbol tracking in the database
  TODO.md
Due: none

__init__ functions should have a None return type
  backend/src/oya/parsing/python_parser.py
Due: ruff-check, ruff-format, pylint-design

test: update phase order tests to expect 8 phases (no separate analysis)
  backend/tests/test_jobs_api.py
Due: ruff-check, ruff-format, pylint-design

feat: merge syncing and analysis into single Sync phase (8 total)
  backend/src/oya/api/routers/repos.py
Due: ruff-check, ruff-format, pylint-design

test: update SSE and reconnect tests for 8-phase pipeline
  backend/tests/test_reconnect_db.py
  backend/tests/test_sse_streaming.py
Due: ruff-check, ruff-format, pylint-design

feat: show Sync as single phase, remove separate Analysis phase
  frontend/src/components/GenerationProgress.test.tsx
  frontend/src/components/generationConstants.ts
Due: eslint

chore: remove completed TODO, remove unused 'starting' phase
  TODO.md
  frontend/src/components/GenerationProgress.test.tsx
  frontend/src/components/generationConstants.ts
Due: eslint

fix: remove dead 'analysis' branch and stale comment in GenerationProgress
  frontend/src/components/GenerationProgress.tsx
Due: eslint

Plan for merging first two sync phases
  docs/plans/2026-01-28-collapse-sync-analysis-phases.md
Due: none

Note that we need code synopis examples.
  TODO.md
Due: none

docs: add synopsis section design for file wiki pages
  docs/plans/2026-01-28-synopsis-section-design.md
Due: none

Design to improve synosis results
  TODO.md
Due: none

feat(parsing): extract SYNOPSIS from Perl POD documentation
  backend/src/oya/parsing/fallback_parser.py
  backend/tests/test_fallback_parser.py
Due: ruff-check, ruff-format, pylint-design

docs: add call-site synopses design document
  docs/plans/2026-01-28-call-site-synopses-design.md
Due: none

fix(parsing): preserve relative indentation in Perl POD synopsis
  backend/src/oya/parsing/fallback_parser.py
  backend/tests/test_fallback_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): add synopsis field to ParsedFile model
  backend/src/oya/parsing/models.py
  backend/tests/parsing/test_models.py
Due: ruff-check, ruff-format, pylint-design

Fix bad markdown
  docs/plans/2026-01-28-synopsis-section-design.md
Due: none

Note in the README the ChromaDB embedding limitation.
  README.md
Due: none

fix(parsing): correct Perl POD regex for empty SYNOPSIS sections
  backend/src/oya/parsing/fallback_parser.py
  backend/tests/test_fallback_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(parsing): correct Rust Examples regex for multiple code blocks
  backend/src/oya/parsing/fallback_parser.py
  backend/tests/test_fallback_parser.py
Due: ruff-check, ruff-format, pylint-design
