Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Clean up Copilot instructions so that it ignores some files that are "scratch" files
  .github/copilot-instructions.md
Due: none

fix: migration saves only migrated keys, not defaults
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: validate timing entries in getTimingForJob
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: implement sparse writes in setStorageValue
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

Formatted
  frontend/src/utils/storage.test.ts
Due: eslint

fix: use sparse writes in timing helpers
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

refactor: remove saveStorage to prevent storage pollution
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: handle non-object JSON in setStorageValue
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: only persist panel width on drag end, not on mount
  frontend/src/hooks/useResizablePanel.test.ts
  frontend/src/hooks/useResizablePanel.ts
Due: eslint

fix: validate types during old key migration
  frontend/src/utils/storage.ts
Due: eslint

docs: update copilot-instructions with complete file list
  .github/copilot-instructions.md
Due: none

docs: remove outdated config/storage.ts reference from CLAUDE.md
  CLAUDE.md
Due: none

fix: validate jobId during generationTiming migration
  frontend/src/utils/storage.ts
Due: eslint

fix: reject Infinity in validNumber using Number.isFinite
  frontend/src/utils/storage.ts
Due: eslint

fix: validate jobId in validTimingEntry
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: use consistent key for migrated timing entries
  frontend/src/utils/storage.ts
Due: eslint

perf: optimize timing helpers to avoid full storage conversion
  frontend/src/utils/storage.ts
Due: eslint

security: prevent prototype pollution in key conversion
  frontend/src/utils/storage.ts
Due: eslint

security: use hasOwnProperty in hasStorageValue
  frontend/src/utils/storage.ts
Due: eslint

perf: remove unused width dependency from drag effect
  frontend/src/hooks/useResizablePanel.ts
Due: eslint

Formatted
  frontend/src/config/storage.ts
  frontend/src/stores/generationStore.test.ts
  frontend/src/stores/generationStore.ts
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

Formatted
  frontend/src/components/AskPanel.test.tsx
  frontend/src/hooks/useResizablePanel.test.ts
  frontend/src/stores/generationStore.test.ts
  frontend/src/stores/uiStore.test.ts
  frontend/src/stores/uiStore.ts
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

Formatted
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: validate types in getExplicitStorageValue
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

fix: handle non-object JSON values as corrupted storage
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

Formatted
  frontend/src/utils/storage.ts
Due: eslint

fix: preserve sparse storage semantics and prevent prototype pollution
  frontend/src/utils/storage.ts
Due: eslint

fix: cleanupStaleTiming works on raw storage to remove all corrupted entries
  frontend/src/utils/storage.test.ts
  frontend/src/utils/storage.ts
Due: eslint

Local storage cleanup moved to done.
  TODO.md
Due: none

Add dead code detection feature design
  docs/plans/2026-01-30-deadcode-detection-design.md
Due: none

Mount chromadb separately
  docker-compose.yml
Due: none

docs: add dead code detection implementation plan
  docs/plans/2026-01-30-deadcode-detection.md
Due: none

feat(deadcode): add DeadcodeReport and UnusedSymbol data models
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): integrate code health generation into orchestrator
  backend/src/oya/generation/orchestrator.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): implement analyze_deadcode core function
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): implement generate_deadcode_page markdown writer
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): add is_excluded function for pattern matching
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

test(deadcode): add orchestrator tests for code health page generation
  backend/tests/test_orchestrator.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): add Code Health page to wiki navigation
  backend/src/oya/api/routers/wiki.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/AskPanel.test.tsx
  frontend/src/components/PageLoader.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/pages/CodeHealthPage.tsx
  frontend/src/components/pages/index.ts
  frontend/src/stores/initialize.test.ts
  frontend/src/stores/initialize.ts
  frontend/src/stores/wikiStore.test.ts
  frontend/src/types/index.ts
Due: ruff-check, ruff-format, pylint-design, eslint

test(deadcode): add wiki API tests for code health endpoint
  backend/tests/test_wiki_api.py
Due: ruff-check, ruff-format, pylint-design

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
