Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

fix(qa): handle articles (a, an, this) in extract_scope regex
  backend/src/oya/qa/retrieval/analytical.py
  backend/tests/test_analytical_retrieval.py
Due: ruff-check, ruff-format, pylint-design

feat(cgrag): add file/function reference extraction from gaps
  backend/src/oya/qa/cgrag.py
  backend/tests/test_cgrag.py
Due: ruff-check, ruff-format, pylint-design

fix(cgrag): expand file extension support and handle backtick-wrapped references
  backend/src/oya/qa/cgrag.py
  backend/tests/test_cgrag.py
Due: ruff-check, ruff-format, pylint-design

feat(cgrag): integrate code index into gap resolution
  backend/src/oya/qa/cgrag.py
  backend/tests/test_cgrag.py
Due: ruff-check, ruff-format, pylint-design

feat(qa): integrate query classification and mode routing into QA service
  backend/src/oya/qa/service.py
  backend/tests/test_qa_service.py
Due: ruff-check, ruff-format, pylint-design

feat(generation): build code index during wiki generation
  backend/src/oya/generation/orchestrator.py
  backend/tests/test_orchestrator.py
Due: ruff-check, ruff-format, pylint-design

feat(qa): add SourceFetcher for retrieving code snippets
  backend/src/oya/qa/source_fetcher.py
  backend/tests/test_source_fetcher.py
Due: ruff-check, ruff-format, pylint-design

test: add CGRAG integration tests verifying full pipeline
  backend/tests/test_cgrag_integration.py
Due: ruff-check, ruff-format, pylint-design

fix(tests): move patch import to module top in integration tests
  backend/tests/test_cgrag_integration.py
Due: ruff-check, ruff-format, pylint-design

fix: resolve mypy type errors in retrieval code
  backend/src/oya/qa/retrieval/exploratory.py
  backend/src/oya/qa/service.py
Due: ruff-check, ruff-format, pylint-design

Update my TODO.md
  TODO.md
Due: none

feat(backend): accept generation mode parameter on /init endpoint
  backend/src/oya/api/routers/repos.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): thread generation mode through API client and store
  frontend/src/api/client.ts
  frontend/src/stores/generationStore.ts
Due: eslint

feat(frontend): add incremental/full toggle to generation modal
  frontend/src/components/IndexingPreviewModal.tsx
  frontend/src/components/TopBar.tsx
Due: eslint

test(frontend): add tests for generation mode toggle
  frontend/src/components/IndexingPreviewModal.test.tsx
Due: eslint

style: fix prettier formatting in IndexingPreviewModal files
  frontend/src/components/IndexingPreviewModal.test.tsx
  frontend/src/components/IndexingPreviewModal.tsx
Due: eslint

fix(backend): recreate job-tracking DB after full regeneration wipe
  backend/src/oya/api/routers/repos.py
Due: ruff-check, ruff-format, pylint-design

refactor: extract reconnect_db for stale DB connection recovery
  backend/src/oya/api/deps.py
  backend/src/oya/api/routers/repos.py
Due: ruff-check, ruff-format, pylint-design

test: add tests for reconnect_db covering wipe and promotion scenarios
  backend/tests/test_reconnect_db.py
Due: ruff-check, ruff-format, pylint-design

fix: sync job status to staging DB before promotion to prevent stalled UI
  backend/src/oya/api/deps.py
  backend/src/oya/api/routers/jobs.py
  backend/src/oya/api/routers/repos.py
  backend/tests/test_reconnect_db.py
  backend/tests/test_sse_streaming.py
Due: ruff-check, ruff-format, pylint-design

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
