Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

refactor(notes): use mapping for scope subdirectory names
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

fix(notes): add explicit transaction in rebuild_index
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

Put Scope Labels in a constant
  frontend/src/components/NoteEditor.tsx
Due: eslint

refactor(notes): extract fetchNoteForTarget to reduce duplication
  frontend/src/components/PageLoader.tsx
Due: eslint

Reformatted
  frontend/src/components/PageLoader.tsx
Due: eslint

Fix workflow generation to reflect current workflows and title casing
  backend/src/oya/parsing/fallback_parser.py
  backend/tests/test_fallback_parser.py
  frontend/src/components/Sidebar.tsx
  frontend/src/utils/slug.test.ts
  frontend/src/utils/slug.ts
Due: ruff-check, ruff-format, pylint-design, eslint

Tests for rdoc files
  backend/tests/test_fallback_parser.py
Due: ruff-check, ruff-format, pylint-design

Do not fail test if health check is too slow
  backend/tests/test_summaries.py
Due: ruff-check, ruff-format, pylint-design

Add design: automated git sync before wiki generation
  docs/plans/2026-01-25-git-sync-before-generation-design.md
Due: none

Add implementation plan for git sync before generation
  docs/plans/2026-01-25-git-sync-before-generation.md
Due: none

feat: add GitSyncError exception class
  backend/src/oya/repo/git_operations.py
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: add check_working_directory_clean function
  backend/src/oya/repo/git_operations.py
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: add get_default_branch function
  backend/src/oya/repo/git_operations.py
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: add get_current_branch and checkout_branch functions
  backend/src/oya/repo/git_operations.py
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: add sync_to_default_branch function
  backend/src/oya/repo/git_operations.py
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: sync repository to default branch before wiki generation
  backend/src/oya/api/routers/repos.py
Due: ruff-check, ruff-format, pylint-design

feat: add syncing phase to frontend progress display
  frontend/src/components/GenerationProgress.test.tsx
  frontend/src/components/generationConstants.ts
Due: eslint

feat: update phase numbering to include syncing phase
  backend/src/oya/api/routers/repos.py
  backend/tests/test_jobs_api.py
Due: ruff-check, ruff-format, pylint-design

feat: export new git sync functions from repo module
  backend/src/oya/repo/__init__.py
Due: ruff-check, ruff-format, pylint-design

Make sure we read .oyaignore from the correct directory
  backend/src/oya/api/routers/repos.py
  backend/tests/test_indexable_categories.py
Due: ruff-check, ruff-format, pylint-design
