Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Update the analyzing codebase image
  images/analyzing-codebase.png
Due: none

Add design doc for stale content cleanup during wiki regeneration
  backend/docs/plans/2026-01-26-stale-content-cleanup-design.md
Due: none

Add implementation plan for stale content cleanup
  backend/docs/plans/2026-01-26-stale-content-cleanup.md
Due: none

feat: add frontmatter utilities for wiki pages
  backend/src/oya/generation/frontmatter.py
  backend/tests/generation/__init__.py
  backend/tests/generation/test_frontmatter.py
Due: ruff-check, ruff-format, pylint-design

fix: correct field order in frontmatter (generated before commit)
  backend/src/oya/generation/frontmatter.py
Due: ruff-check, ruff-format, pylint-design

feat: add cleanup module with workflow deletion
  backend/src/oya/generation/cleanup.py
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

feat: add orphaned file/directory page detection and deletion
  backend/src/oya/generation/cleanup.py
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

feat: add orphaned notes cleanup
  backend/src/oya/generation/cleanup.py
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

feat: add main cleanup_stale_content function
  backend/src/oya/generation/cleanup.py
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

feat: add frontend frontmatter parser
  frontend/src/utils/frontmatter.test.ts
  frontend/src/utils/frontmatter.ts
Due: eslint

feat: add PageInfo component for displaying wiki page metadata
  frontend/src/components/PageInfo.test.tsx
  frontend/src/components/PageInfo.tsx
Due: eslint

feat: integrate PageInfo component into WikiContent
  frontend/src/components/WikiContent.test.tsx
  frontend/src/components/WikiContent.tsx
Due: eslint

fix: preserve wiki pages without frontmatter during cleanup
  backend/src/oya/api/routers/repos.py
  backend/src/oya/generation/cleanup.py
  backend/src/oya/generation/orchestrator.py
  backend/tests/generation/test_cleanup.py
  backend/tests/generation/test_orchestrator_frontmatter.py
  backend/tests/test_cascade.py
  backend/tests/test_orchestrator.py
Due: ruff-check, ruff-format, pylint-design

fix: preserve wiki pages without frontmatter during cleanup
  backend/src/oya/api/routers/repos.py
  backend/src/oya/generation/cleanup.py
  backend/src/oya/generation/orchestrator.py
  backend/tests/generation/test_cleanup.py
  backend/tests/generation/test_orchestrator_frontmatter.py
  backend/tests/test_cascade.py
  backend/tests/test_orchestrator.py
  notes.md
Due: ruff-check, ruff-format, pylint-design

test: add test for preserving directory pages without frontmatter
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

We need to remove dotfiles and dotdirs inside the ~/.oya directory.
  TODO.md
Due: none

style: format PageInfo and WikiContent with prettier
  frontend/src/components/PageInfo.tsx
  frontend/src/components/WikiContent.tsx
Due: eslint

feat: add /api/repos/status endpoint
  backend/src/oya/api/routers/repos.py
  backend/src/oya/api/schemas.py
  backend/tests/test_repos_api.py
Due: ruff-check, ruff-format, pylint-design

fix: delete wiki pages for sources excluded by .oyaignore
  backend/src/oya/api/routers/repos.py
  backend/src/oya/generation/cleanup.py
  backend/tests/generation/test_cleanup.py
Due: ruff-check, ruff-format, pylint-design

fix: preserve purpose/layer for skipped files and directories in incremental regen
  backend/src/oya/api/routers/repos.py
  backend/src/oya/generation/orchestrator.py
  backend/src/oya/generation/overview.py
  backend/tests/test_cascade.py
  backend/tests/test_orchestrator.py
Due: ruff-check, ruff-format, pylint-design

Fix "read-only" error on SQLite when we finish indexing the db
  backend/src/oya/api/deps.py
  backend/src/oya/api/routers/repos.py
  backend/tests/test_db_cache_invalidation.py
Due: ruff-check, ruff-format, pylint-design

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
