Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

ruff-check:
  name: ruff (lint)
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff (format)
  entry: ruff format --check
  language: system

pylint-design:
  name: pylint (design checks)
  entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

feat(notes): create NoteDisplay component for inline viewing
  frontend/src/components/NoteDisplay.tsx
  frontend/src/components/index.ts
Due: eslint

refactor(notes): remove redundant noteScope check in PageLoader
  frontend/src/components/PageLoader.tsx
Due: eslint

fix(notes): use UTF-8 byte encoding for percent-encoding special chars
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

fix(notes): add defensive check for slug-to-path consistency
  frontend/src/components/PageLoader.tsx
Due: eslint

docs(migrations): add comments to explain silent exception handling
  backend/src/oya/db/migrations.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): update frontend types for redesigned notes API
  frontend/src/types/index.ts
Due: eslint

fix(notes): use correct plural 'directories' not 'directorys'
  backend/src/oya/notes/service.py
  backend/tests/test_notes_service.py
Due: ruff-check, ruff-format, pylint-design

test(notes): add API test for general scope with empty target
  backend/tests/test_notes_api.py
Due: ruff-check, ruff-format, pylint-design

docs(notes): clarify slug format is only for filesystem storage
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

fix(notes): add missing db.commit() calls in upsert and delete
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

fix(notes): add transaction rollback to rebuild_index for safety
  backend/src/oya/db/connection.py
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): wire up FilePage and DirectoryPage to pass note props
  frontend/src/components/pages/DirectoryPage.tsx
  frontend/src/components/pages/FilePage.tsx
Due: eslint

feat(notes): add confirmation when closing editor with unsaved changes
  frontend/src/components/NoteEditor.tsx
Due: eslint

fix(notes): log warning when rebuild_index fails to parse note files
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

fix(notes): use authoritative source_path from wiki page response
  frontend/src/components/PageLoader.tsx
Due: eslint

refactor(notes): reorder slugify operations for clarity
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): add retry and dismiss buttons to NoteDisplay error state
  frontend/src/components/NoteDisplay.tsx
Due: eslint

fix(notes): add max_length constraint to author field (200 chars)
  backend/src/oya/notes/schemas.py
Due: ruff-check, ruff-format, pylint-design

refactor(frontend): add early return in note mismatch effect
  frontend/src/components/PageLoader.tsx
Due: eslint

fix(notes): add defensive try-catch around rollback in rebuild_index
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

Add note fetch error handling in PageLoader
  frontend/src/components/PageLoader.tsx
Due: eslint

fix(notes): prevent race conditions between note fetch effects
  frontend/src/components/PageLoader.tsx
Due: eslint

fix(notes): preserve file extension in hash-based slug fallback
  backend/src/oya/notes/service.py
  backend/tests/test_notes_service.py
Due: ruff-check, ruff-format, pylint-design

refactor(notes): replace window.confirm with ConfirmationDialog
  frontend/src/components/NoteEditor.tsx
Due: eslint

fix(notes): reset isDirty state when editor opens
  frontend/src/components/NoteEditor.tsx
Due: eslint

build: add PyYAML as explicit dependency
  backend/pyproject.toml
Due: none

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  pylint-design: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx)$
