Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

docs: add type annotation tracking design for dead code detection
  docs/plans/2026-01-30-type-annotation-tracking-design.md
Due: none

docs: add type annotation tracking implementation plan
  docs/plans/2026-01-30-type-annotation-tracking.md
Due: none

feat(parsing): add TYPE_ANNOTATION reference type
  backend/src/oya/parsing/models.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): add PYTHON_BUILTIN_TYPES constant
  backend/src/oya/parsing/python_parser.py
  backend/tests/test_python_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): extract type annotation references in Python parser
  backend/src/oya/parsing/python_parser.py
  backend/tests/test_python_parser.py
Due: ruff-check, ruff-format, pylint-design

test(parsing): add Python type annotation edge case tests
  backend/tests/test_python_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): add TS_BUILTIN_TYPES constant
  backend/src/oya/parsing/typescript_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): extract type annotation references in TypeScript parser
  backend/src/oya/parsing/typescript_parser.py
  backend/tests/test_typescript_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(parsing): prevent extracting parameter names as types in TypeScript
  backend/src/oya/parsing/typescript_parser.py
Due: ruff-check, ruff-format, pylint-design

test(parsing): add TypeScript type annotation edge case tests
  backend/tests/test_typescript_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): update page content with cautious language
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

fix(deadcode): use correct scope for type annotation references
  backend/src/oya/parsing/python_parser.py
  backend/src/oya/parsing/typescript_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(deadcode): exclude test code from dead code analysis
  backend/src/oya/generation/deadcode.py
Due: ruff-check, ruff-format, pylint-design

docs: add PROGRESS.md for session handoff
  backend/PROGRESS.md
Due: none

docs: enhance CLAUDE.md with pipeline, testing, and language-agnostic guidance
  CLAUDE.md
Due: none

docs: add decorator pattern detection design for dead code analysis
  docs/plans/2026-02-01-decorator-pattern-detection-design.md
Due: none

docs: update PROGRESS.md with decorator pattern detection phase
  backend/PROGRESS.md
Due: none

feat(deadcode): add decorator pattern registry
  backend/src/oya/parsing/decorator_patterns.py
  backend/tests/test_decorator_patterns.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): add pattern matching helpers to BaseParser
  backend/src/oya/parsing/base.py
  backend/tests/test_base_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(parsing): extract decorator arguments and entry points
  backend/src/oya/parsing/models.py
  backend/src/oya/parsing/python_parser.py
  backend/tests/test_python_parser.py
Due: ruff-check, ruff-format, pylint-design

feat(graph): propagate is_entry_point to graph nodes
  backend/src/oya/graph/builder.py
  backend/tests/test_graph_builder.py
Due: ruff-check, ruff-format, pylint-design

feat(deadcode): filter entry points from dead code report
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

Decorator Pattern Detection implementation
  docs/language-customization/README.md
  docs/plans/2026-02-01-decorator-pattern-implementation.md
Due: none

docs: add language customization guide for decorator patterns
  docs/language-customization/extending-decorator-patterns.md
Due: none

docs: update PROGRESS.md - decorator pattern detection implemented
  backend/PROGRESS.md
Due: none

fix(parsing): fix mypy type errors in decorator extraction
  backend/src/oya/parsing/python_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(deadcode): is_test_file now matches root-level test directories
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

fix(deadcode): use URL-safe slugs in code health page links
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

fix(parsing): class attribute annotations use class-scoped source
  backend/src/oya/parsing/python_parser.py
  backend/tests/test_python_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(parsing): decorator pattern matching enforces bare decorator semantics
  backend/src/oya/parsing/base.py
  backend/src/oya/parsing/decorator_patterns.py
  backend/tests/test_base_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(frontend): add code-health to page_type union
  frontend/src/types/index.ts
Due: eslint

Formatted
  frontend/src/types/index.ts
Due: eslint

fix(deadcode): strengthen test assertion and sidebar empty state
  backend/tests/test_orchestrator.py
  frontend/src/components/Sidebar.tsx
Due: ruff-check, ruff-format, pylint-design, eslint

fix(parsing): add trace to ROUTE_DECORATORS for consistency
  backend/src/oya/parsing/python_parser.py
Due: ruff-check, ruff-format, pylint-design

fix(orchestrator): always regenerate code health page
  backend/src/oya/generation/orchestrator.py
  backend/tests/test_orchestrator.py
Due: ruff-check, ruff-format, pylint-design

fix(frontend): sidebar empty state checks all wiki sections
  frontend/src/components/Sidebar.tsx
Due: eslint

fix(deadcode): add missing test file patterns
  backend/src/oya/generation/deadcode.py
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design

Note another architecture issue in the TODO
  TODO.md
Due: none

fix(persistence): serialize is_entry_point in graph nodes
  backend/src/oya/graph/persistence.py
  backend/tests/test_graph_persistence.py
Due: ruff-check, ruff-format, pylint-design

fix(test): strengthen cautious_content assertion to detect regression
  backend/tests/test_deadcode.py
Due: ruff-check, ruff-format, pylint-design
