Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

feat(api): add repos v2 router with list endpoint
  backend/src/oya/api/routers/repos_v2.py
  backend/src/oya/main.py
  backend/tests/api/__init__.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

docs: add detailed implementation plan for multi-repo management
  docs/plans/2026-01-23-multi-repo-implementation-plan.md
Due: none

feat: add Phase 1 data layer for multi-repo management
  backend/src/oya/config.py
  backend/src/oya/repo/__init__.py
  backend/src/oya/repo/git_operations.py
  backend/src/oya/repo/repo_paths.py
  backend/src/oya/repo/url_parser.py
  backend/tests/repo/__init__.py
  backend/tests/repo/test_git_operations.py
  backend/tests/repo/test_repo_paths.py
  backend/tests/repo/test_url_parser.py
  backend/tests/test_config.py
Due: ruff-check, ruff-format, pylint-design

feat(db): add repo registry CRUD operations
  backend/src/oya/db/repo_registry.py
  backend/tests/db/test_repo_registry.py
Due: ruff-check, ruff-format, pylint-design

feat(db): add repo registry schema and basic add operation
  backend/src/oya/db/repo_registry.py
  backend/tests/db/__init__.py
  backend/tests/db/test_repo_registry.py
Due: ruff-check, ruff-format, pylint-design

docs: add implementation plan for repo selection fixes
  docs/plans/2026-01-24-repo-selection-fixes-implementation.md
Due: none

feat(frontend): prompt to generate wiki after adding repo
  frontend/src/components/AddRepoModal.tsx
  frontend/src/components/TopBar.tsx
Due: eslint

clean up opened jobs
  backend/src/oya/main.py
  frontend/src/api/client.ts
Due: ruff-check, ruff-format, pylint-design, eslint

feat(frontend): auto-select first repo on startup if none active
  frontend/src/stores/initialize.test.ts
  frontend/src/stores/initialize.ts
Due: eslint

chore: add comment explaining job clearing on repo switch
  frontend/src/components/RepoDropdown.tsx
Due: eslint

feat(qa): add multi-repo support and source file reading to CGRAG
  backend/src/oya/api/routers/qa.py
  backend/src/oya/qa/cgrag.py
  backend/src/oya/qa/service.py
  backend/tests/test_cgrag.py
Due: ruff-check, ruff-format, pylint-design

feat: add directory exclusion check methods to FileFilter
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

fix(tests): use local path instead of GitHub URL to avoid credential prompt
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

feat: collapse excluded directory children in get_files_categorized
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

test: add setup_active_repo fixture and update tests
  backend/tests/conftest.py
  backend/tests/test_config.py
  backend/tests/test_wiki_api.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): add first-run wizard and repo switching
  frontend/src/App.tsx
  frontend/src/components/FirstRunWizard.tsx
  frontend/src/components/RepoDropdown.tsx
Due: eslint

feat(frontend): always show RepoDropdown, remove DirectoryPicker
  frontend/src/api/client.ts
  frontend/src/components/DirectoryPicker.test.tsx
  frontend/src/components/DirectoryPicker.tsx
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/components/index.ts
  frontend/src/types/index.ts
Due: eslint

style: format frontend files with prettier
  frontend/src/components/AddRepoModal.tsx
  frontend/src/components/FirstRunWizard.tsx
  frontend/src/components/RepoDropdown.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/stores/reposStore.ts
Due: eslint

feat(config): make WORKSPACE_PATH optional for multi-repo mode
  backend/src/oya/api/deps.py
  backend/src/oya/config.py
  backend/tests/test_config.py
Due: ruff-check, ruff-format, pylint-design

feat(api): add create repo endpoint with git clone
  backend/src/oya/api/routers/repos_v2.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

fix: make git a hard requirement at startup
  backend/src/oya/main.py
Due: ruff-check, ruff-format, pylint-design

docs: update documentation for multi-repo support
  CLAUDE.md
  README.md
  docker-compose.yml
Due: none

Mount Oya locally
  docker-compose.yml
Due: none

Update where the wiki data is stored
  README.md
Due: none

fix: resolve mypy type errors for optional workspace_path
  backend/src/oya/api/routers/repos.py
  backend/src/oya/db/repo_registry.py
  backend/src/oya/main.py
Due: ruff-check, ruff-format, pylint-design

docs: remove legacy mode references from docs and startup log
  CLAUDE.md
  backend/src/oya/main.py
Due: ruff-check, ruff-format, pylint-design

feat: include explicitly excluded directories in API response
  backend/src/oya/api/routers/repos.py
  backend/tests/test_indexable_categories.py
Due: ruff-check, ruff-format, pylint-design

feat(api): add get and delete repo endpoints
  backend/src/oya/api/routers/repos_v2.py
  backend/tests/api/test_repos_v2.py
Due: ruff-check, ruff-format, pylint-design

Ensure switch repos and first starting work as expected
  frontend/src/App.tsx
  frontend/src/stores/initialize.ts
  frontend/src/stores/reposStore.ts
Due: eslint
