Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

test: update tests for new directory collapsing behavior
  backend/tests/test_indexable_categories.py
Due: ruff-check, ruff-format, pylint-design

CGRAG temp hack: Added max_total_lines=1000 parameter to _read_source_for_nodes() to prevent context window overflow.
  backend/src/oya/qa/cgrag.py
  docker-compose.yml
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/TopBar.tsx
Due: ruff-check, ruff-format, pylint-design, eslint

refactor: remove WORKSPACE_PATH, add security fixes
  .claude/agents/code-reviewer.md
  .kiro/steering/tech.md
  Makefile
  README.md
  backend/README.md
  backend/src/oya/api/routers/notes.py
  backend/src/oya/api/routers/repos.py
  backend/src/oya/api/routers/repos_v2.py
  backend/src/oya/api/routers/search.py
  backend/src/oya/api/schemas.py
  backend/src/oya/config.py
  backend/src/oya/generation/chunking.py
  backend/src/oya/generation/file.py
  backend/src/oya/generation/orchestrator.py
  backend/src/oya/generation/synthesis.py
  backend/src/oya/llm/client.py
  backend/src/oya/qa/cgrag.py
  backend/src/oya/qa/graph_retrieval.py
  backend/src/oya/qa/service.py
  backend/src/oya/qa/session.py
  backend/src/oya/repo/file_filter.py
  backend/src/oya/repo/repo_paths.py
  backend/tests/api/test_repos_v2.py
  backend/tests/repo/test_repo_paths.py
  backend/tests/test_api_deps.py
  backend/tests/test_db_reconnect.py
  backend/tests/test_indexable_categories.py
  backend/tests/test_last_generation.py
  backend/tests/test_notes_api.py
  backend/tests/test_oyaignore_removals.py
  backend/tests/test_qa_api.py
  backend/tests/test_repos_api.py
  backend/tests/test_sse_streaming.py
  backend/tests/test_staging_generation.py
  backend/tests/test_startup.py
  docker-compose.yml
Due: ruff-check, ruff-format, pylint-design

docs: update documentation for multi-repo support
  CLAUDE.md
  README.md
  docker-compose.yml
Due: none

refactor(backend): remove state.py singleton
  backend/src/oya/api/deps.py
  backend/src/oya/state.py
  backend/tests/api/test_repos_v2.py
  backend/tests/test_api_deps.py
  backend/tests/test_repos_api.py
Due: ruff-check, ruff-format, pylint-design

Add note about "logrotate" functionality
  TODO.md
Due: none

docs: remove legacy mode references from docs and startup log
  CLAUDE.md
  backend/src/oya/main.py
Due: ruff-check, ruff-format, pylint-design

Note we need Windows support
  TODO.md
Due: none

chore: add comment explaining job clearing on repo switch
  frontend/src/components/RepoDropdown.tsx
Due: eslint

Update TODO again
  TODO.md
Due: none

test: add setup_active_repo fixture and update tests
  backend/tests/conftest.py
  backend/tests/test_config.py
  backend/tests/test_wiki_api.py
Due: ruff-check, ruff-format, pylint-design

refactor(config): remove WORKSPACE_PATH environment variable handling
  backend/src/oya/config.py
Due: ruff-check, ruff-format, pylint-design

feat(deps): add active repo context to dependency injection
  backend/src/oya/api/deps.py
  backend/tests/test_api_deps.py
Due: ruff-check, ruff-format, pylint-design

test: update test_jobs_api and test_search_api to use setup_active_repo
  backend/tests/test_jobs_api.py
  backend/tests/test_search_api.py
Due: ruff-check, ruff-format, pylint-design

feat: include explicitly excluded directories in API response
  backend/src/oya/api/routers/repos.py
  backend/tests/test_indexable_categories.py
Due: ruff-check, ruff-format, pylint-design

More TODO notes (fix CRAG)
  TODO.md
Due: none

fix(tests): use local path instead of GitHub URL to avoid credential prompt
  backend/tests/repo/test_git_operations.py
Due: ruff-check, ruff-format, pylint-design

test: add edge case tests for directory collapsing
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

feat: add _has_excluded_ancestor helper function
  backend/src/oya/repo/file_filter.py
  backend/tests/test_file_filter.py
Due: ruff-check, ruff-format, pylint-design

fix: resolve mypy type errors for optional workspace_path
  backend/src/oya/api/routers/repos.py
  backend/src/oya/db/repo_registry.py
  backend/src/oya/main.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): add multi-repo UI components
  frontend/src/api/client.ts
  frontend/src/components/AddRepoModal.tsx
  frontend/src/components/RepoDropdown.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/stores/index.ts
  frontend/src/stores/initialize.ts
  frontend/src/stores/reposStore.ts
  frontend/src/types/index.ts
Due: eslint

Delete repos (TODO)
  TODO.md
Due: none

docs: add JSONL log viewer modal design
  docs/plans/2026-01-24-jsonl-log-viewer-design.md
Due: none

docs: add JSONL log viewer implementation plan
  docs/plans/2026-01-24-jsonl-log-viewer-implementation.md
Due: none

feat: add GET and DELETE endpoints for LLM query logs
  backend/src/oya/api/routers/logs.py
  backend/src/oya/main.py
  backend/tests/api/test_logs.py
Due: ruff-check, ruff-format, pylint-design

feat(frontend): add API client functions for logs endpoints
  frontend/src/api/client.ts
  frontend/src/types/index.ts
Due: eslint

feat(frontend): add LogViewerModal component
  frontend/src/components/LogViewerModal.test.tsx
  frontend/src/components/LogViewerModal.tsx
Due: eslint

test: add keyboard shortcut tests for LogViewerModal
  frontend/src/components/LogViewerModal.test.tsx
Due: eslint
