Repository Ovid/Oya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pylint-design, eslint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: ruff format --check
        language: system
        types: [python]
        files: ^backend/

      - id: pylint-design
        name: pylint (design checks)
        entry: bash -c 'cd backend && source .venv/bin/activate && pylint src/oya --exit-zero'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

feat(frontend): integrate log viewer into TopBar
  frontend/src/components/LogViewerModal.tsx
  frontend/src/components/TopBar.test.tsx
  frontend/src/components/TopBar.tsx
Due: eslint

style: fix Prettier formatting in LogViewerModal
  frontend/src/components/LogViewerModal.tsx
Due: eslint

fix(test): update test to expect git requirement on startup
  backend/tests/test_startup.py
Due: ruff-check, ruff-format, pylint-design

fix(frontend): fix JSON indentation rendering in LogViewerModal
  frontend/src/components/LogViewerModal.tsx
Due: eslint

We no longer need the jsonl viewer as it's now built into the app.
  docs/jsonl-viewer.html
Due: none

Add SETUP instructions
  SETUP.md
Due: none

Create our new README.md
  README.md
Due: none

Note the existence of Swagger docs
  CLAUDE.md
  SETUP.md
Due: none

feat(notes): update schema for one-note-per-target model
  backend/src/oya/db/migrations.py
Due: ruff-check, ruff-format, pylint-design

Add notes system redesign plan
  docs/plans/2026-01-25-notes-system-redesign.md
Due: none

test(notes): update tests for new upsert-based API
  backend/tests/test_notes_api.py
  backend/tests/test_notes_service.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): simplify schemas for upsert model
  backend/src/oya/notes/schemas.py
Due: ruff-check, ruff-format, pylint-design

docs: add detailed implementation plan for notes system redesign
  docs/plans/2026-01-25-notes-system-implementation.md
Due: none

feat(notes): add notes parameter to DirectoryGenerator
  backend/src/oya/generation/directory.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): update API client for new REST endpoints
  frontend/src/api/client.ts
  frontend/src/components/NoteEditor.tsx
Due: eslint

feat(notes): rewrite service with upsert semantics and file-primary storage
  backend/src/oya/notes/__init__.py
  backend/src/oya/notes/service.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): update API to REST pattern with scope/target paths
  backend/src/oya/api/routers/notes.py
Due: ruff-check, ruff-format, pylint-design

How to fix the notes system
  docs/notes/fix-notes-system.md
Due: none

feat(notes): wire up orchestrator to load and pass notes to generators
  backend/src/oya/generation/orchestrator.py
Due: ruff-check, ruff-format, pylint-design

feat(notes): add notes parameter to FileGenerator
  backend/src/oya/generation/file.py
Due: ruff-check, ruff-format, pylint-design
